@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-beige-primary: #f2d6a2;
  --color-beige-secondary: #fff1d9;
  --color-beige-deep: #a87c3d;
  --font-sans: var(--font-google-sans-flex);
  --font-google-sans-flex: var(--font-google-sans-flex);
  --font-awesome-serif: var(--font-awesome-serif);
}

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@utility bg-beige-gradient {
  background-image: linear-gradient(to right, #f2d6a2 0%, #a87c3d 100%);
}

@utility text-beige-gradient {
  background-image: linear-gradient(to right, #f2d6a2 0%, #a87c3d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-google-sans-flex), Arial, Helvetica, sans-serif;
}
